body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.edit-window {
    background-color: rgb(221, 71, 2);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.edit-window h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-container {
    background-color: #ed7625;
    /* Cor de fundo para o formulário */
    padding: 15px;
    border-radius: 8px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-cancel {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ee0e0e;
}

.btn-add {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
}