@charset "UTF-8";

* {
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    height: fit-content;
    background-image: url('../imagens/fundo02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 30px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    height: 95vh;
}

header {
    display: flex;
    flex-grow: 0;
    flex-basis: auto;
    padding-bottom: 20px;
}

#container {
    height: fit-content;
    width: 80%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

#bem-vindo {
    background-color: rgba(0, 0, 0, 0.623);
    width: 380px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

#laranja {
    color:  rgb(221, 108, 2);
    line-height: 30px;
}

.icone {
    height: 40px;
}

button {
    background-color: transparent;
    width: 50px;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

#menu {
    width: 20%;
    padding: 0px;
    text-align: right;
    background-color: transparent;
}

#botoes > p {
    text-align: right;
}

.formHeader {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: italic;
}

#historico {
    background-color: #50301E;
    margin-bottom: 10px;
}

#historico:hover {
    background-color: #964B00;
}

#detalhes {
    background-color: rgb(221, 108, 2);
}

#detalhes:hover {
    background-color: rgb(250, 164, 66);
}

main {
    background-color: rgba(165, 42, 42, 0.432);
    padding: 20px;
    border-radius: 25px;
    flex-grow: 1;
    flex-basis: auto;
    width: 93vw;
}

iframe {
    height: 100%;
    width: 100%;
}
