@charset "UTF-8";

* {
    color: white;
}

body {
    height: fit-content;
    background-image: url('../imagens/fundo02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 30px;
    margin: 0px;
}

header {
    width: 100%;
    text-align: right;
}

.icone {
    height: 40px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    border: 0px;
    margin-left: 25px;
}

button:hover {
    cursor: pointer;
}

main {
    background-color: rgba(165, 42, 42, 0.432);
    padding: 20px;
    margin: auto;
    border-radius: 25px;
}
