@charset "UTF-8";

body {
    height: fit-content;
    background-image: url('../imagens/fundo02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 30px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    height: 95vh;
}

header {
    display: flex;
    flex-grow: 0;
    flex-basis: auto;
    padding-bottom: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#metade1 {
    width: 50%;
    padding-top: 15px;
}

#metade2 {
    width: 50%;
    padding-top: 15px;
    text-align: right;
}

.icone {
    height: 40px;
}

button {
    background-color: transparent;
    width: 50px;
    border: 0px;
    margin-left: 25px;
}

button:hover {
    cursor: pointer;
}

main {
    background-color: rgba(49, 18, 18, 0.644);
    padding: 20px;
    border-radius: 25px;
    flex-grow: 1;
    flex-basis: auto;
    width: 93vw;
}

iframe {
    height: 60%;
    width: 100%;
}

#endereco {
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    text-align: right;
    height: 40%;
    width: 100%;
}

.campo {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
}

#campo-endereco {
    text-align: right;
    width: 100%;
}

#end {
    width: 70%;
    text-align: center;
}

.botao {
    background-color: rgb(221, 108, 2);
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    padding: 10px;
    width: 180px;
    border: 0px;
    border-radius: 8px;
    margin-right: 20px;
}

.botao-total {
    background-color: rgb(2, 17, 221);
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    padding: 10px;
    width: 150px;
    border: 0px;
    border-radius: 8px;
    margin-right: 20px;
}

.botao-total:hover {
    background-color: rgb(45, 43, 197)
}

.botao:hover {
    background-color: rgb(250, 164, 66);
}

.swal-btn {
    width: 100px;
}

#cancelar {
    background-color: rgb(148, 6, 6);
    margin: 0px;
}

#cancelar:hover {
    background-color: red;
}