@charset "UTF-8";

* {
    border: 0px;
}

#endereco-container {
    justify-content: space-between;
    gap: 20px;
}

.en-dc {
    margin: 10px 0px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 98%;
}

.texto {
    width: 60%;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    margin: 10px 20px;
    display: inline;
}

#ultima {
    width: 40%;
    text-align: right;
    margin-right: 20px;
}

.icone {
    height: 40px;
    margin-left: 20px;
}

button {
    background-color: transparent;
}

.custom-popup-class {
    width: 280px;
    height: 290px;
}

button:hover {
    cursor: pointer;
}