@charset "UTF-8";

* {
    border: 0px;
}

#cardapio-container {
    justify-content: space-between;
    gap: 20px;
}

.card-item {
    margin: 10px 0px;
    display: flex;
    background-color: rgb(221, 71, 2);
    border-radius: 8px;
    padding: 10px;
    width: 1200px;
}

.card-item-imagem {
    height: 150px;
    width: 300px;
    border-radius: 8px;
    margin-right: 20px;
}

.titulo {
    font-size: 1.6em;
}

.texto {
    width: 600px;
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    margin: 10px 20px;
}

.card-item-preco {
    color: white;
    background-color: rgb(221, 108, 2);
    padding: 10px;
    height: fit-content;
    width: 100px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    margin: 40px 40px;
    align-items: center;
}

#menor {
    font-size: smaller;
}

#quantidade {
    text-align: center;
    font-family: 'Montserrat';
    font-style: italic;
}

#icones {
    display: flex;
    height: fit-content;
    margin: 0px;
}

label {
    color: white;
    font-size: medium;
}

output {
    background-color: white;
    margin-top: 10px;
    font-size: larger;
    padding: 10px;
    text-align: center;
    display: inline-block;
    height: fit-content;
    width: 80px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
}

button:hover {
    cursor: pointer;
}

#add {
    height: 50px;
    margin-right: 10px;
}

#less {
    margin-top: 12px;
    height: 38px;
    padding-left: 5px;
}
