@charset "UTF-8";

* {
    border: 0px;
}

#cardapio-container {
    justify-content: space-between;
    gap: 20px;
}

.card-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 1200px;
    align-items: stretch;
}

.card-item-imagem {
    height: 150px;
    width: 300px;
    border-radius: 8px;
}

.card-item-nome {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    text-align: center;
}

.card-item-descricao {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    margin: 10px 0;
}

.card-item-preco {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: medium;
    margin: 10px;
}

.card-item-editar {
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.card-item-remover {
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.card-item-icone {
    width: 20px;
    height: 20px;
    fill: #F6F6F6;
}

.card-item-:hover {
    background-color: #2980b9;
}
